{% extends 'charts/base.html' %}

{% block content %}
<script type="application/javascript">
$(document).ready(function() {
    // Load the Visualization API and the piechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(loadCharts);

    function loadCharts() {
      $.ajax({
          url: "get_repo_author_total",
          dataType: "json",
          async: true,
          success: drawAuthorChart
      });

       $.ajax({
          url: "get_commits_per_day",
          dataType: "json",
          async: true,
          success: drawCommitsPerDayChart
      });

       $.ajax({
          url: "get_commit_frequency",
          dataType: "json",
          async: true,
          success: drawCommitFrequencyChart
      });
    }

    function drawAuthorChart(jsonData) {
      var data = new google.visualization.DataTable(jsonData);

      var options = {
        title: 'Authors',
        is3D: true,
        width: 900,
        height: 500,
      };

      var chart = new google.visualization.PieChart(document.getElementById('author_chart_div'));
      chart.draw(data, options);
    }

    function drawCommitsPerDayChart(jsonData) {
      var data = new google.visualization.DataTable(jsonData);

      var options = {
        title: 'Commits',
        is3D: true,
        width: 900,
        height: 500,
      };

      var chart = new google.visualization.LineChart(document.getElementById('commits_per_day_div'));
      chart.draw(data, options);
    }

    function drawCommitFrequencyChart(jsonData) {

        var data = new google.visualization.DataTable(jsonData);

        var options = {
            title: 'Commits per hour during the week',
            hAxis: {title: 'Hour'},
            vAxis: {title: 'Day'},
            bubble: {textStyle: {fontSize: 11}}
          };

          var chart = new google.visualization.BubbleChart(document.getElementById('commit_frequency_div'));
          chart.draw(data, options);
    }
});


</script>

<div class="repo">
    <div class="date">Date:
        {{ repo.created_date}}
    </div>
    <h1>{{ repo.title }}</h1>
    <p>{{ repo.path }}</p>
    <a href="{% url 'repo_reload' pk=repo.pk %}">Load Commits</a>
    <a href="{% url 'repo_reset' pk=repo.pk %}">Reset Commits</a>
</div>

<div id="author_chart_div"></div>
<div id="commits_per_day_div"></div>
<div id="commit_frequency_div" style="width: 900px; height: 500px;"></div>

{% endblock %}
